/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

&mt { tapping-term-ms = <125>; };

&lt { tapping-term-ms = <125>; };

/ {
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            display-name = "Base";
            bindings = <
&none  &kp Q       &kp W       &kp E        &kp R         &kp T      &kp Y        &kp U             &kp I        &kp O       &kp P               &none
&none  &mt LALT A  &mt LGUI S  &mt LCTRL D  &mt LSHIFT F  &kp G      &kp H        &mt LEFT_SHIFT J  &mt RCTRL K  &mt RGUI L  &mt RALT SEMICOLON  &kp RG(SPACE)
&none  &kp Z       &kp X       &kp C        &kp V         &kp B      &kp N        &kp M             &kp COMMA    &kp DOT     &kp FSLH            &none
                               &kp ESCAPE   &kp SPACE     &kp TAB    &lt 2 ENTER  &lt 1 BACKSPACE   &kp DEL
            >;
        };

        number_layer {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            display-name = "Number";
            bindings = <
&none  &kp LEFT_BRACKET  &kp N7  &kp N8   &kp N9  &kp RIGHT_BRACKET    &none    &none          &none       &none     &none     &none
&none  &kp SINGLE_QUOTE  &kp N4  &kp N5   &kp N6  &kp EQUAL            &none    &kp RSHIFT     &kp RCTRL   &kp RGUI  &kp RALT  &none
&none  &kp GRAVE         &kp N1  &kp N2   &kp N3  &kp BACKSLASH        &none    &none          &none       &none     &none     &none
                                 &kp DOT  &kp N0  &kp MINUS            &kp RET  &kp BACKSPACE  &kp DELETE
            >;
        };

        symbol_layer {
            display-name = "Symbol";
            bindings = <
&none  &kp LS(LEFT_BRACKET)  &kp LS(N7)  &kp LS(N8)  &kp LS(N9)  &kp LS(RIGHT_BRACKET)    &none    &none          &none       &none     &none     &none
&none  &kp LS(SINGLE_QUOTE)  &kp LS(N4)  &kp LS(N5)  &kp LS(N6)  &kp LS(EQUAL)            &none    &kp RSHIFT     &kp RCTRL   &kp RGUI  &kp RALT  &none
&none  &kp LS(GRAVE)         &kp LS(N1)  &kp LS(N2)  &kp LS(N3)  &kp LS(BACKSLASH)        &none    &none          &none       &none     &none     &none
                                         &kp LS(N9)  &kp LS(N0)  &kp LS(MINUS)            &kp RET  &kp BACKSPACE  &kp DELETE
            >;
        };

        extra_1 { status = "reserved"; };

        extra_2 { status = "reserved"; };

        extra_3 { status = "reserved"; };
    };
};
